:root {
  //background color
  --bg-primary-color: rgb(16, 16, 16);
  --bg-secondary-color: rgb(46, 45, 45);
  --bg-active-color: rgb(206, 202, 202);
  --bg-danger-color : rgb(203, 5, 5);
  --bg-success-color : rgb(2, 116, 2);

  //text color
  --text-primary-color: rgb(248, 247, 247);
  --text-secondary-color: rgb(186, 182, 182);
  --text-active-color: rgb(57, 56, 56);

  //padding
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-l: 1.5rem;
  --padding-xl: 2rem;
  --padding-2xl: 3rem;

  //gutter : grid gap
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-l: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-2xl: 3rem;

  //margin
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-l: 1.5rem;
  --margin-xl: 2rem;
  --margin-2xl: 3rem;

  //font size
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.75rem;
  --font-size-2xl: 1.5rem;

  //border radius
  --border-radius-sm: 0.2rem;
  --border-radius-md: 0.25rem;
  --border-radius-l: 0.3rem;
  --border-radius-xl: 0.4rem;
  --border-radius-2xl: 0.5rem;
}
